/* Basic Reset */
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
nav ul,
nav ol {
  list-style-type: none;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
:root {
  --rich-black: #061923;
  --firey-rose: #ff5964;
  --alice-blue: #ebf8ff;
  --jasmine: #ffe099;
  --tea-green: #c8d6af;
  --tea-green-light: #f7ffea;
  --english-violet: #48284a;
}

html {
  scroll-padding-top: 160px;
  overflow-x: hidden;
  /* position: relative;
  height: 100%; */
}
/* Basic Topography */
body {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  color: var(--rich-black);
  padding-top: 100px;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4 {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}
h2 {
  font-size: 24px;
  margin-bottom: 0.5em;
  color: var(--firey-rose);
}
h3 {
  font-size: 20px;
  margin-bottom: 0.5em;
}
p {
  margin-bottom: 1em;
  line-height: 1.4em;
}
button {
  border: none;
  border-radius: 15px;
  height: 30px;
  line-height: 30px;
  background-color: var(--tea-green);
  color: var(--rich-black);
  font-weight: 600;
  padding: 0 20px;
  display: block;
  margin: auto;
}
/* Basic page rules */
#page {
  max-width: 1500px;
  margin: 2rem 0;
}
section,
footer {
  padding: 20px;
  margin-bottom: 150px;
}
section section {
  padding: 0;
  margin: 0;
}

/* Header styling */

header {
  height: 120px;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

/* swiper css */

/* html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
 */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  position: relative;
  margin: auto;
  width: 140px;
  margin-bottom: 10px;
}
header .logo:hover {
  cursor: pointer;
}
.logo h1 {
  font-size: 24px;
  color: var(--firey-rose);
  position: absolute;
  top: 10px;
  left: 5rem;
  margin-bottom: 2rem;
  white-space: nowrap;
}
.logo img {
  width: 50px;
}
header nav ul {
  display: flex;
  justify-content: center;
}
header nav ul li a {
  display: block;
  font-family: "Quicksand", sans-serif;
  color: var(--alice-blue);
  font-weight: 400;
  padding: 0 5px;
}

.swiper {
  margin-bottom: 150px;
}
/*
#slider .flexslider ul li > div {
  height: 0;
  padding-top: 46.7%;
  position: relative;
}
#slider > .flexslider > li > div {
  background-size: cover;
}
.slide1 {
  background: url(slides/hospital1.jpg) top left no-repeat;
}
.slide2 {
  background: url(slides/hospital2.jpg) top left no-repeat;
}
.slide3 {
  background: url(slides/hospital3.jpg) top left no-repeat;
}
.slide4 {
  background: url(slides/hospital4.jpg) top left no-repeat;
}
*/
.cta {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(6, 25, 35, 0.5);
  padding: 10px;
  color: #fff;
  width: 100%;
}
.cta h2 {
  font-size: 20px;
  color: #fff;
}

/* overview styles */
.intro h2 {
  font-size: 30px;
}
.intro p {
  font-size: 20px;
}
#overview section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
/* download styles */
#download {
  background-color: var(--tea-green-light);
  padding: 0;
}
#download ul {
  list-style-type: none;
}
#download .eachfeature li {
  width: 100%;
  height: 30px;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#download ul li a {
  font-family: "Quicksand" sans-serif;
  font-weight: 600;
  color: var(--firey-rose);
}
#download article {
  padding: 20px;
}
#download article:first-of-type {
  display: flex;
}
#download > article > div {
  margin-right: 20px;
}
#download > article > div img {
  width: 70px;
  margin: auto;
}
#download article img {
  margin: auto;
}
#download article:first-of-type ul {
  margin-top: 30px;
}
#download article:nth-child(2) {
  background-color: var(--tea-green);
  min-height: 300px;
  overflow: hidden;
  position: relative;
}
#feature-container {
  position: relative;
  overflow: hidden;
  height: 200px;
}
#features {
  position: absolute;
  top: 0;
}
#download article:nth-child(2) a {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #364a14;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
  color: var(--jasmine);
}

/* pricing styling */
#pricing {
  background-color: var(--english-violet);
  color: #fff;
}
#pricing h2 {
  color: #fff;
}
#pricing > #tabs > ul {
  display: flex;
  list-style-type: none;
}

#pricing > #tabs > ul > li > a {
  display: block;
  height: 30px;
  line-height: 30px;
  margin-right: 5px;
  background: var(--tea-green);
  color: var(--rich-black);
  padding: 0 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#pricing > #tabs > div {
  display: none;
  padding: 15px;
  background: var(--tea-green-light);
  color: var(--rich-black);
  border-top-right-radius: 10px;
  min-height: 500px;
}
#pricing > #tabs > div:first-of-type {
  display: block;
  background: var(--tea-green-light);
}
#pricing > #tabs > ul > li:first-of-type a {
  background: var(--tea-green-light);
}
#pricing #tabs div ul {
  margin-left: 1em;
  margin-bottom: 1em;
}
#pricing #tabs div ul li {
  margin-bottom: 0.5em;
}
#pricing > #tabs > div article {
  margin-bottom: 20px;
}
#pricing > #tabs > div h3 {
  color: var(--firey-rose);
  text-align: center;
}
#pricing > #tabs > div h4 {
  text-align: center;
}

/* listen section styles */
#listen {
  padding: 0;
}
#rotator {
  min-height: 350px;
}
#rotator blockquote {
  display: none;
}
#listen article {
  padding: 20px;
}
#listen article:first-of-type {
  background: var(--rich-black);
  color: #fff;
}
#listen h2 {
  color: #fff;
}
#listen blockquote {
  font-size: 28px;
  line-height: 1.3em;
}
#listen blockquote {
  text-indent: -0.4em;
}
#listen blockquote footer {
  color: var(--firey-rose);
}
/* our team styles */
#ourteam {
  background: #fcf7ed;
}
#ourteam h2 {
  color: var(--rich-black);
}
#ourteam article div:first-of-type {
  display: flex;
  justify-content: space-between;
}
#ourteam figure {
  margin: 0;
}
#ourteam div figure {
  width: 48%;
}
#ourteam article figure img {
  border-radius: 50%;
  max-width: 80%;
  margin: auto;
}
#ourteam figcaption {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  padding: 10px 0;
}
#ourteam figcaption span {
  color: var(--firey-rose);
}
/* footer styles */
footer {
  background: var(--rich-black);
  color: var(--jasmine);
  margin-bottom: 0;
}
footer .logo {
  margin-bottom: 20px;
}
footer .logo h1 {
  color: var(--jasmine);
}
footer nav ul {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
footer article h2 {
  font-size: 20px;
  text-align: center;
  color: var(--jasmine);
}
footer article a {
  color: var(--jasmine);
}
.selected {
  background-color: brown;
}
/* flexslider css
   */
.flexslider {
  margin: 0 20px;
  border: none;
  border-radius: 0;
}
.flex-control-paging li a.flex-active {
  background: #b40205;
}

/* Media queries */

@media only screen and (min-width: 900px) {
  /* slider styles */
  #slider .cta {
    width: 50%;
    right: 0;
  }
  .slide1 {
    background-image: url(slides/hospital1.jpg);
  }
  #overview {
    display: flex;
  }
  /* overview styles */
  #overview > article {
    flex: 2;
    margin-right: 20px;
  }
  #overview > section {
    flex: 3;
    padding-top: 3em;
  }

  /* download styles */
  #download {
    display: flex;
    flex-wrap: wrap;
  }

  #download article {
    flex: 1;
  }
  #download article:last-of-type {
    flex: 100%;
  }
  #feature-container {
    height: 90%;
  }
  /* pricing styles */

  #pricing {
    display: flex;
  }
  #pricing article:first-of-type {
    flex: 2;
    margin-right: 20px;
  }
  #pricing article:last-of-type {
    flex: 3;
  }

  /* listen styles */

  #listen {
    display: flex;
  }
  #listen article:first-of-type {
    flex: 2;
  }
  #listen article:last-of-type {
    flex: 5;
  }
  /* ourteam */
  #ourteam article {
    display: flex;
    flex-wrap: wrap;
  }
  #ourteam article div:first-of-type {
    flex-direction: column;
    flex: 2;
    align-items: center;
  }
  #ourteam article div:last-of-type {
    flex: 3;
    padding: 0 20px;
  }
  #ourteam article h2 {
    flex: 100%;
  }
  #ourteam figure {
    padding: 20px 0;
  }
  #ourteam figure img {
    margin: auto;
  }

  /* footer styles */
  #page > footer {
    display: flex;
  }
  #page > footer .logo {
    flex: 1;
    margin: 0;
  }

  #page > footer nav {
    flex: 1;
    margin: 10px 20px 0 0;
  }

  #page > footer article {
    flex: 2;
    margin-top: 10px;
  }
}

/* need to add media query for desktop */

@media only screen and (min-width: 901px) {
  #overview {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  body {
    font-size: 2rem;
    font-weight: 400;
  }
}
